<html>
    <head>
        <title>Активация купона</title>
        <meta charset="utf-8">
        <link href="{{ url_for('static', filename='css/activate.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='css/libraries/bootstrap.min.css') }}" rel="stylesheet" media="screen">
    </head>
    <body>
        <script src="{{ url_for('static', filename='js/jquery-3.5.0.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/login.js') }}"></script>
        <div class="container">
            <form class="form-container" method="post" action="{{ url_for('main.activate', raffle_link=raffle_link) }}">
            	<table align="center">
                    {% if big_error is defined %}
                    <tr>
                        <td><div class="error">{{ big_error }}</div></td>
                    </tr>
	                <tr>
                        <td>
                            <a href="/raffle/{{ raffle_link }}" class="btn btn-primary ml-auto post toraffle">К розыгрышу</a>
                        </td>
                    </tr>
                    {% else %}
                    <tr>
                        <td><label for="ticket">Активация купонов для розыгрыша №{{ raffle_id }} - {{ raffle_desc }}</br>Введите ваш купон:</label></td>
                    </tr> 
                    <tr>
              	        <td><input placeholder="" type="text" name="ticket" id="ticket" required></td>
                    </tr>
	                <tr>
                        <td>
                            <button class="btn btn-primary ml-auto post" type="submit">Активировать</button>
                        </td>
                    </tr>
	                <tr>
                        <td>
                            <a href="/raffle/{{ raffle_link }}" class="btn btn-primary ml-auto post toraffle">К розыгрышу</a>
                        </td>
                    </tr>
                    <tr>
                        <td><div class="error">{{ error }}</div></td>
                    </tr>
                    <tr>
                        <td><div class="result">{{ result }}{% if avatar is defined %}<br/>Индивидуальный аватар пользователя:<br/><img src="{{ avatar }}" width="150" height="150">{% endif %}</div></td>
                    </tr>
                </table>
                {% if tickets is defined %}
                <table align="center">
	                <tr>
                        <td>
                            Активированные купоны:
                        </td>
                    </tr>
                    {% for value in tickets %}
                    <tr>
                        <td>{{ value.ticket_hash }}</td>
                        <td>{{ value.owner_name }}</td>
                    </tr>
                    {% endfor %}
                </table>
                {% endif %}
                    {% endif %}
            </form>
        </div>
        <div class="loader"><div class="lds-default"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div></div>
    </body>
</html>